<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Procesador de Extractos Bancarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/cover.css">
</head>
  <!-- <body> -->
    <!--  HEADER -->
    <body class="d-flex h-100 text-bg-dark"> 
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
            <h3 class="float-md-start mb-0">PDF</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Inicio</a>
                <a class="nav-link fw-bold py-1 px-0" href="procesador">Procesador</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">Contacto</a>
            </nav>
            </div>
        </header>
        
        <div class="d-flex mb-3", id="main-container">
            <div class="p-2">                        
                <h1 class="text-start">Procesador de Extractos Bancarios</h1>
                <p class="lead text-start">El procesador sirve para extraer la información de los extractos bancarios en formato PDF</p>
            </div>
            <div class="ms-auto p-2 align-self-center">                        
                <p class="lead">
                <a href="procesador" class="btn btn-lg btn-light fw-bold border-white bg-white">Utilizar</a>
            </div>
          </div>

        
        <!-- FOOTER -->
        <div class="position-absolute bottom-0 start-50 translate-middle-x">
            <footer class="mt-auto text-white-50">
                <div class="footer-div"></div>
                <p>Desarrollado por <a href="https://twitter.com/DagoPorras" class="text-white">@dago.porras</a>.</p>
            </footer>
        </div>
    </div>
        <!--  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>